# ignore everything in the root directory by default
/*

!.gitignore

# # include project
# !project
# # ignore everything in project
# project/*
# # include specific folders within project
# !project/source
# !project/tests
# !project/resources
# !project/blender

# !.clang-format
# !.clang-tidy

# !CMakeLists.txt
# !setup.ps1

!README.md
!LICENSE.md